.debug {
  background-color: #0F0; }

#feature {
  width: 1024px;
  height: 450px;
  position: relative;
  overflow: hidden;
  color: #AB2127;
  font-family: proxima-nova, Helvetica, Arial, sans-serif;
  font-size: 9pt;
  font-weight: 600; }
  #feature div {
    vertical-align: top;
    overflow: visible; }
  #feature .hypervisor {
    position: absolute;
    left: 100px;
    top: 100px;
    width: 341px;
    height: 196px;
    background-image: url(../images/background.png);
    background-size: 341px 196px; }
    #feature .hypervisor .hotspot {
      position: relative;
      font-size: 30pt;
      text-align: center; }
      #feature .hypervisor .hotspot.top {
        left: 6px;
        top: 8px;
        width: 329px;
        height: 85px; }
      #feature .hypervisor .hotspot.selected {
        width: 329px;
        height: 85px;
        background-image: url(../images/scribble-1.png);
        background-size: 329px 85px;
        color: white; }
      #feature .hypervisor .hotspot.bottom {
        left: 4px;
        top: 15px;
        width: 332px;
        height: 89px; }
        #feature .hypervisor .hotspot.bottom.selected {
          width: 332px;
          height: 89px;
          background-image: url(../images/scribble-2.png);
          background-size: 332px 89px;
          color: white; }
      #feature .hypervisor .hotspot p {
        padding-top: 22px; }
    #feature .hypervisor .vms {
      position: absolute;
      left: 35px;
      top: -16px; }
      #feature .hypervisor .vms .vm {
        display: inline-block;
        width: 33px;
        height: 37px;
        background-image: url(../images/vm.png);
        background-size: 33px 37px; }
        #feature .hypervisor .vms .vm.second {
          margin-right: 30px; }
        #feature .hypervisor .vms .vm.last {
          margin-right: 0px; }
        #feature .hypervisor .vms .vm p {
          margin-top: 14px;
          font-size: 10px;
          width: 100%;
          text-align: center; }
    #feature .hypervisor .label {
      width: 86px;
      height: 30px;
      background-image: url(../images/hypervisor.png);
      background-size: 86px 30px;
      position: absolute;
      left: 125px;
      bottom: -11px; }
