$text-red: #AB2127;
$proxima-nova: proxima-nova, Helvetica, Arial, sans-serif;
$image-path: "../images/";
@mixin setimg($img, $w, $h) {
  width: #{$w}px;
  height: #{$h}px;
  background-image: url(#{$image-path}#{$img}.png);
  background-size: #{$w}px #{$h}px;
}

.debug {
  background-color: #0F0;
}

#feature {
  width: 1024px;
  height: 450px;
  position: relative;
  overflow: hidden;
  color: $text-red;
  font-family: $proxima-nova;
  font-size: 9pt;
  font-weight: 600;
  div {
    vertical-align: top;
    overflow: visible;
  }
  .hypervisor {
    position: absolute;
    left: 100px;
    top: 100px;
    @include setimg("background", 341, 196);
    .hotspot {
      position: relative;
      font-size: 30pt;
      text-align: center;
      &.top {
        left: 6px;
        top: 8px;
        width: 329px;
        height: 85px;
      }
      &.selected {
        @include setimg("scribble-1", 329, 85);
        color: white;
      }
      &.bottom {
        left: 4px;
        top: 15px;
        width: 332px;
        height: 89px;
        &.selected {
          @include setimg("scribble-2", 332, 89);
          color: white;
        } 
      }
      p {
        padding-top: 22px;
      }
    }
    .vms {
      position: absolute;
      left: 35px;
      top: -16px;
      .vm {
        display: inline-block;
        @include setimg("vm", 33, 37);
        &.second {
          margin-right: 30px;
        }
        &.last {
          margin-right: 0px;
        }
        p {
          margin-top: 14px;
          font-size: 10px;
          width: 100%;
          text-align: center;
        }
      }
    }
    .label {
      @include setimg("hypervisor", 86, 30);
      position: absolute;
      left: 125px;
      bottom: -11px;
    }
  }
}

