$text-red: #AB2127;
$gray: #405060;
$proxima-nova: proxima-nova, Helvetica, Arial, sans-serif;
$image-path: "../images/";
@mixin setimg($img, $w, $h) {
  width: #{$w}px;
  height: #{$h}px;
  background-image: url(#{$image-path}#{$img}.png);
  background-size: #{$w}px #{$h}px;
}

.debug {
  background-color: #0F0;
}

#feature {
  width: 1024px;
  height: 550px;
  position: relative;
  overflow: hidden;
  color: $text-red;
  font-family: $proxima-nova;
  font-size: 9pt;
  font-weight: 600;
  div {
    vertical-align: top;
  }
  .left {
//    position: relative;
    display: inline-block;
    .hypervisor {
      position: relative;
      margin-left: 100px;
      margin-top: 70px;
      @include setimg("background", 341, 196);
      .hotspot {
        position: relative;
        font-size: 25pt;
        font-weight: 600;
        text-align: center;
        &.top {
          left: 6px;
          top: 8px;
          width: 329px;
          height: 85px;
          &.selected {
            @include setimg("scribble-1", 329, 85);
            color: white;
          }
          p {
            padding-top: 30px;
          }
        }
        &.bottom {
          left: 4px;
          top: 14px;
          width: 332px;
          height: 89px;
          &.selected {
            @include setimg("scribble-2", 332, 89);
            color: white;
          }
          p {
            padding-top: 25px;
          }
        }
      }
      .vms {
        position: absolute;
        left: 19px;
        top: -17px;
        .vm {
          display: inline-block;
          @include setimg("vm", 33, 37);
          color: $gray;
          &.second {
            margin-right: 36px;
            margin-left: 6px;
          }
          &.last {
            margin-left: 6px;
            margin-right: 0px;
          }
          p {
            margin-top: 14px;
            font-size: 10px;
            width: 100%;
            text-align: center;
          }
        }
      }
      .label {
        @include setimg("hypervisor", 86, 30);
        position: absolute;
        left: 125px;
        bottom: -11px;
      }
    }
    .servers {
      margin-top: 30px;
      margin-left: 10px;
      .server {
        display: inline-block;
        margin-left: 5px;
        margin-right: 20px;
        .rack {
          @include setimg("rack-server", 148, 35);
        }
        .storage {
          margin-top: 13px;
          margin-left: 10px;
          .ram {
            @include setimg("ram", 32, 12);
            display: inline-block;
            margin-top: 10px;
          }
          .pci {
            @include setimg("pci", 43, 33);
            display: inline-block;
            margin-left: 10px;
          }
          .ssd {
            @include setimg("ssd", 26, 19);
            display: inline-block;
            margin-left: 10px;
            margin-top: 6px;
          }
        }
      }
    }
    .db {
      @include setimg("db", 145, 92);
      margin-top: 20px;
      margin-left: 198px;
    }
    .label {
      position: absolute;
      font-size: 10.5pt;
      text-align: right;
      line-height: 13pt;
      &.top {
        top: 100px;
        left: 8px;
      }
      &.middle {
        top: 195px;
        left: 10px;
      }
      &.bottom {
        color: $gray;
        top: 412px;
        left: 127px;
      }
    }
  }
  .right {
    position: absolute;
    left: 510px;
    top: 40px;
    width: 513px;
    height: 400px;
    background-color: white;
    hr {
      display: block;
      border: none;
      @include setimg("rule-line", 513, 5);
    }
  }
}


